@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navlink {
    @apply border-none rounded-lg bg-bgGray px-4 font-sans font-extralight hover:border-transparent hover:bg-rosyBrown hover:cursor-pointer hover:duration-300;
  }

  .bar {
    @apply block w-8 h-[2px] m-2 bg-slate-500 group-hover:bg-slate-800
  }

  td {
    @apply hover:text-sky-600
  }
}

:root {
  background: rgb(230, 230, 225);
  background: linear-gradient(180deg, rgba(230, 230, 225, 1) 35%, rgba(232, 255, 247, 1) 100%);
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.slide-in {
  transform: translateX(0),
}

th, td {
  text-align: center;
  padding: 1em
}