@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navlink {
    @apply border-none rounded-lg bg-bgGray px-4 hover:border-transparent hover:bg-rosyBrown hover:cursor-pointer hover:duration-300;
  }
}

:root {
  background: rgb(220,220,220);
  background: linear-gradient(180deg, rgba(220,220,220,1) 35%, rgba(255,247,180,1) 100%);;
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}