@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navlink {
    @apply border-none rounded-lg bg-bgGray px-4 font-sans font-extralight hover:border-transparent hover:bg-rosyBrown hover:cursor-pointer hover:duration-300;
  }

  .navlink-mobile {
    @apply hover:text-rosyBrown font-sans font-thin
  }

  .bar {
    @apply block w-8 h-[2px] m-2 bg-slate-500 group-hover:bg-slate-800 duration-300
  }

  .hamburger-active {
    @apply [&>*:nth-child(1)]:rotate-45 [&>*:nth-child(1)]:translate-y-[10px] [&>*:nth-child(2)]:-rotate-45 [&>*:nth-child(3)]:hidden
  }

  td {
    @apply hover:text-sky-600
  }
}

:root {
  margin: 0px;
  background: rgb(230, 230, 225);
  background: linear-gradient(180deg, rgba(230, 230, 225, 1) 35%, rgba(232, 255, 247, 1) 100%);
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden; */
  -webkit-overflow-scrolling: touch;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.slide-in {
  transform: translateX(0),
}

th,
td {
  text-align: center;
  padding: 1em
}

.wrapper{
  border-bottom: 1px solid black;
  overflow: hidden;
  margin: 8px 15%;
  cursor: pointer;
}
.wrapper .question-container{
  width: 100%;
  text-align: left;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  font-size: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.question-container.active{
  color: #cba091;
  background-image: linear-gradient(90deg,transparent,rgba(0,0,0,0.04),transparent);
}
.wrapper .question-container:hover{
  background-image: linear-gradient(90deg,transparent,rgba(0,0,0,0.04),transparent);
}
.wrapper .arrow{
  font-size: 2rem;
  transition: .5s ease-in-out;
}
.arrow.active{
  rotate: 180deg;
  color: #cba091;
}
.wrapper .answer-container{
  padding: 0 1rem;
  transition: height .5s ease-in-out;
}
.wrapper .answer-content{
  padding: 1rem 0;
  font-size: 18px;
  font-style: italic;
}

@media (max-width: 1000px) {
  .wrapper {
    margin: 6px 12%;
  }
}

@media (max-width: 900px) {
  .wrapper .answer-content,
  .wrapper .question-container{
    font-size: 16px;
  }
  .wrapper {
    margin: 4px 8%;
  }
}

@media (max-width: 750px) {
  .wrapper .answer-content,
  .wrapper .question-container{
    font-size: 14px;
  }
}

@media (max-width: 639px) {
  .wrapper .question-container{
    font-size: 16px;
  }
}

@media (max-width: 530px) {
  .wrapper .question-container{
    font-size: 14px;
  }
}

@media (max-width: 430px) {
  .wrapper .answer-content,
  .wrapper .question-container{
    font-size: 12px;
  }

  .wrapper {
    margin: 4px 4%;
  }
}